<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Поиск</title>
</head>
<body>
<!--Форма для отправки данных на сервер-->
<h1>Форма для поиска</h1>
<form action="results.html ">
    <!--    place holder -плдсказка-->
    <input type="text" name="query_string" value="" placeholder="Строка поиска">
    <p><select name="where">
        <option value="all">Везде</option>
        <option value="name">В названии вакансии</option>
        <option value="company">В названии компании</option>
    </select></p>
    <input type="submit" value="Искать">
</form>
<p class="proverb">
    Пацанские цитаты Стэтхэма
</p>
<hr>
<a href="index.html">На главную</a>

</body>
</html>