<html>
<head>
    <meta charset="UTF-8">
    <title>
        Главная страница
    </title>
    <link href="main.css" rel="stylesheet">
</head>
<body>
<!-- Тело страницы-->
<h1 class="maintext">
    Мегапарсер hh
</h1>
<h2>
    Главная страница
</h2>
<h3>
    Информация о системе
    <!--    p -  для нового абзаца-->
    <p>
        Парсер умеет получать вакансии с hh.ru и производить операции над ними
    </p>
    <p>
        Можно задавать различные парметры поиска
        <!--        br Для перноса строки-->
    </p>
    <!--    <p style="color:red" >-->
    <p class="proverb">
        Пацанские цитаты Стэтхэма
    </p>
</h3>
<a href="form.html">Начать поиск</a>
</body>

</html>